.NavigationItems {
    /* margin: 0; */
    margin-left: 200;
    margin-right: 200;
    margin-top: 0;
    padding: 300 100;
    margin-right: 100;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-evenly;
    height: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}