.Toolbar {
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    padding: 0px 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

.Icons {
    height: 80%;
    top: 0;
    margin-right: 10;
    align-items: center;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}